<!DOCTYPE html>
<html lang="en" ng-app>
<head>
<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
	</script>
<title>Angular js</title>

</head>
<body>
	<center>Hola {{nombre}}</center>

	<form action="">
		como te llamas?<input type="text" ng-model="nombre"><br/><br/>
	  	<input type="button" value="hola" ng-click="nombre='eddie castro'" /><br/><br/>


	</form>




</body>
</html>