<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="estilos.css">
		<META charset="UTF-8">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="controlador.js"></script>
		<title>ng-Repeat</title>
	</head>
	<body>

		<section>
			<div ng-app="apiApp" ng-controller="apiAppCtrl as vm">
			  <h1>Pruebo Ajax222</h1>
			  <p>
			      Selecciona:
			      <select ng-model="vm.url" ng-change="vm.buscaEnRegion()">
			       <option value="http://restcountries.eu/rest/v1/region/africa">Africa</option>
			        <option value="http://restcountries.eu/rest/v1/region/europe">Europa</option>
			        <option value="http://restcountries.eu/rest/v1/region/americas">America</option>
			      </select>
			  </p>
			  <ul>

			      <li ng-repeat="pais in vm.paises | filter:vm.filtroCliente | orderBy:vm.campo:vm.orden" ng-class="{even: $even, odd: $odd}">
		          <span>{{$index +1}}.- {{pais.name}}</span>, capital: {{pais.capital}}
		      	  </li>

			  </ul>
			</div>
		</section>

		<section>
			<aside>
			<h2>Filtra:</h2>
	        <input type="text" ng-model="vm.filtroCliente">
	       <h2>Orden</h2>
	        <p>
	            <button ng-click="vm.orden=false">Alfabetico</button>
	            <br />
	            <button ng-click="vm.orden=true">Contrario</button>
	        </p>
	        <p>
	            <input type="radio" name="campo" ng-model="vm.campo" value="name"> Nombre
	            <br />
	            <input type="radio" name="campo" ng-model="vm.campo" value="description"> Descripción
	        </p>

			</aside>

		</section>



	</body>
</html>