<!DOCTYPE html>
<html ng-app="PrimerApp">
<head>
	<meta charset="utf-8">
	<title>Hola Controller</title>
	<script src="angular.min.js"></script>
	<script src="controller.js"></script>

</head>
<body ng-controller="PrimerControlador">
{{"Hola "+nombre}}
</body>
</html>