<!DOCTYPE>
<html lang="en"ng-app="appClass">
	<head>
		<meta charset="UTF-8" >
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
		</script>
		<script src="ng_class.js"></script>
		<link rel="stylesheet" type="text/css" href="estilos.css"/>
		<title>App Class</title>
	</head>

	<body>

		<div ng-controller="acumuladorAppCtrl as vm">
		  <h1 ng-class="vm.tamTitular">Acumulador</h1> 
		  
		  <select ng-model="vm.tamTitular">
		    <option value="titularpeq">Peque</option>
		    <option value="titulargran">Gran</option>
		  </select>

		  <h2 ng-class="vm.clases">Control de operación:</h2>
		  ¿Cuánto? <input type="text" ng-model="vm.cuanto" size="4" placeholder="0" />
		  <br />
		  <input type="button" value="+" ng-click="vm.sumar()"/>
		  <input type="button" value="-" ng-click="vm.restar()"/>
		  <h2>Totales:</h2>
		  <p ng-class="{positivo: vm.total>=0, negativo: vm.total<0}">
		    En el acumulador llevamos <span>{{vm.total}}</span>
		  </p>  
		</div>

	</body>
</html>