<!DOCTYPE html>
<html lang="en" ng-app="ng-Repeat">
<head>
<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
	</script>
	<script src="controller.js"></script>
<title>Angular js</title>

</head>
<body ng-controller="ControllerRepeat">
	<table>
	  <thead>
	    <tr>
	      <th>IdProvincia</th>
	      <th>Nombre</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="provincia in provincias">
	      <td>{{provincia.idProvincia}}</td>
	      <td>{{provincia.nombre}}</td>
	    </tr>
	  </tbody>
	</table>

</body>
</html>