<!DOCTYPE html>
<html lang="en" ng-app="prueba01">
<head>
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
		</script>
   <script src="op01.js"></script>
	<title>Angular js</title>

</head>

<body >
   <div ng-controller="pruebaAppCtrl">
      {{prueba}}
   </div>
</body>
</html>