<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
	</script>
	<script src="controlador.js"></script>
<title>Post</title>

</head>
<body>
	<div ng-app="app" ng-controller="appCtrl as vm">
	  <h1>Pruebo Ajax</h1>
	  <section>
	      <form ng-submit="vm.enviar()">
	        Nombre: <input type="text" ng-model="vm.fdatos.nombre">
	        <br>
	        Edad: <input type="text" ng-model="vm.fdatos.edad">
	        <br>
	        <input type="submit" value="Enviar">
	      </form>
	  </section>
	</div>
</body>
</html>