<!DOCTYPE html>
<html lang="en" ng-app="Acumulador">
<head>
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
	</script>
	<script src="acumulador.js"></script>
	<title>Acumulador</title>
</head>

<body>
	<div ng-controller="AcumCtrl as ac">
		<h1>Acumulador</h1>
		<h2>Valor</h2>
		<input type="text" ng-model="ac.valor" size="10"><br/>
		<input type="button" value="+" ng-click="ac.sumar()" >
		<input type="button" value="-" ng-click="ac.restar()" ><br/>
		{{ac.total}}	
	</div>
</body>

</html 