<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
		</script>
	<title>Angular js</title>

</head>

<body >
	<input type="text" ng-model="campotexto">
   <br />
   {{ campotexto }} - {{ camposelect }}
   <br />
   <select ng-model="camposelect">
      <option value="uno">1</option>
      <option value="dos">2</option>
   </select>

</body>
</html>